@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600,700|Roboto&display=swap&subset=cyrillic);
/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

*{padding:0;margin:0;-webkit-box-sizing:border-box;box-sizing:border-box}body{font-family:Open Sans;font-size:16px;line-height:24px;font-weight:400;color:#43444c;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:33px 0}h2{font-weight:700;font-size:24px;line-height:28px;letter-spacing:.5625px;margin-bottom:24px}a{color:#2f80ed;text-decoration:none}a:hover{text-decoration:underline}a:focus{outline:none}p{margin-bottom:22px}button{cursor:pointer}button:focus,input:focus{outline:none}::-webkit-input-placeholder{color:#8d8e95}:-ms-input-placeholder{color:#8d8e95}::-moz-placeholder{color:#8d8e95}::-ms-input-placeholder{color:#8d8e95}::placeholder{color:#8d8e95}.btn{height:56px;border-radius:7.5px;font-family:Montserrat;font-weight:700;font-size:18px;text-align:center;letter-spacing:.45px;text-transform:uppercase;border:none;width:100%;-webkit-transition:all .2s;transition:all .2s}.btn-blue{background:-webkit-gradient(linear,left top, right top,color-stop(.97%, #4a67e7),color-stop(99.29%, #3942b8));background:linear-gradient(90deg,#4a67e7 .97%,#3942b8 99.29%);color:#fff}.btn-blue:hover{background:-webkit-gradient(linear,left top, right top,color-stop(.97%, #4a67e7),color-stop(99.29%, #4a67e7));background:linear-gradient(90deg,#4a67e7 .97%,#4a67e7 99.29%)}.btn-blue:focus{background:-webkit-gradient(linear,left top, right top,color-stop(.97%, #3942b8),color-stop(99.29%, #3942b8));background:linear-gradient(90deg,#3942b8 .97%,#3942b8 99.29%)}.btn-blue:disabled{background:-webkit-gradient(linear,left bottom, left top,from(#e6e7ee),to(#e6e7ee)),-webkit-gradient(linear,left top, right top,color-stop(.97%, #4a67e7),color-stop(99.29%, #3942b8));background:linear-gradient(0deg,#e6e7ee,#e6e7ee),linear-gradient(90deg,#4a67e7 .97%,#3942b8 99.29%);cursor:default}.color-blue{color:#2f80ed}.container{max-width:480px;background:#fff;border-radius:6px}.row{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 -20px}.col{padding:0 20px}.col-1{width:50%;-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%}.col-2{width:100%;-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%}.form{-webkit-box-shadow:0 15px 30px rgba(186,188,232,.3);box-shadow:0 15px 30px rgba(186,188,232,.3)}.form__section{padding:24px 40px 14px}.form__top{border-bottom:1px solid #e2e2e5}.form__bottom{padding-top:33px}.form__title{margin-bottom:7px}.dropdown{position:relative;z-index:11}.dropdown__title{cursor:pointer}.dropdown__body{background:#fff;position:absolute;visibility:hidden;opacity:0;-webkit-transition:opacity .25s;transition:opacity .25s;width:400px;-webkit-box-shadow:0 6px 12px rgba(8,35,48,.14),0 16px 24px rgba(8,35,48,.08);box-shadow:0 6px 12px rgba(8,35,48,.14),0 16px 24px rgba(8,35,48,.08);border-radius:4px}.dropdown.open .dropdown__body{visibility:visible;opacity:1}.dropdown.bottom .dropdown__body{top:100%}.dropdown.top .dropdown__body{top:auto;bottom:100%}.dropdown.left .dropdown__body{left:0}.dropdown.right .dropdown__body{left:auto;right:0}.dropdown.center .dropdown__body{right:auto;left:-200px}.field{width:100%;margin-bottom:17px;position:relative}.field__label{display:block;color:#8d8e95;font-weight:600;font-size:12px;margin-bottom:3px;text-transform:uppercase;letter-spacing:.45px}.field__input{padding:8px 15px;font-family:Open Sans;font-weight:600;font-size:18px;letter-spacing:.75px;background:#e6e7ee;border-radius:4px;width:100%;height:42px;border:1px solid transparent}.field__input:focus,.field__input:hover{background:hsla(0,0%,100%,.1);border:1px solid #9fa1b0}.field__error{font-weight:600;font-size:12px;line-height:20px;color:#eb5757;display:block;margin-top:6px}.field__phone{padding-left:96px}.field__card-type{position:absolute;right:16px;top:42px;height:12px}.field.disabled{opacity:.3}.field.has-error input{background:rgba(235,87,87,.1);border:1px solid #eb5757}.field .countries{position:absolute;top:35px;left:16px;z-index:12}.field .countries .dropdown__title{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:26px;padding-right:40px;border-right:1px solid rgba(0,0,0,.1);background:url(images/arrows.svg) no-repeat;background-position:right 8px center}.field .countries .dropdown__body{margin-left:-16px;margin-top:8px;padding:6px 4px}.field .help{position:absolute;top:38px;right:18px}.countries__flag{width:24px}.countries__list{max-height:320px;position:relative}.country{font-family:Roboto;font-size:14px;line-height:28px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;letter-spacing:.1px;text-transform:uppercase;padding:7px 5px 6px;cursor:pointer}.country__flag{width:14px;margin-right:13px}.country:hover{background:#f6f6f6}.payments{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:20px}.payments__image{margin-right:7px}.terms{color:#94959c;margin-top:10px;margin-bottom:25px}.save,.terms{font-size:12px;line-height:20px}.save{font-weight:600;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:16px 0 9px}.save__image{margin-right:8px}.secure{margin:32px 40px;text-align:center}.secure__image{margin:0 3px}.custom-scroll .ps__thumb-y{width:4px;background:#c4c4c4;border-radius:9px}.help__button{width:20px;height:20px;background:#8d8e95;border-radius:50%;color:#fff;border:none;font-size:15px;text-align:center;position:relative}.help__button:before{content:"";position:absolute;width:36px;height:36px;left:-8px;top:-8px;border-radius:50%;background:-webkit-gradient(linear,left top, right top,color-stop(.97%, #2f80ed),color-stop(99.29%, #4a67e7));background:linear-gradient(90deg,#2f80ed .97%,#4a67e7 99.29%);opacity:0;z-index:-1}.help__button:hover{background:#2f80ed}.help__button:hover:before{opacity:.1}.help__button:focus{background:#2f80ed}.help__button:focus:before{opacity:.2}.help__body{padding:24px;font-size:16px;line-height:24px}.help__body img{max-width:100%}.help .dropdown__title{height:20px;line-height:18px}.help .dropdown__body{width:336px}.help.dropdown.top .dropdown__body{margin-bottom:8px}.help.dropdown.bottom .dropdown__body{margin-top:8px}.help.dropdown.left .dropdown__body{left:-8px}.help.dropdown.right .dropdown__body{right:-8px}.help.dropdown.center .dropdown__body{left:-164px}@media screen and (max-width:479px){.row{margin:0 -8px}.col{padding:0 8px}.form__section{padding:24px 16px 15px}.dropdown__body{width:382px}.help .dropdown__body{width:310px}.help.dropdown.center .dropdown__body{left:-151px}}@media screen and (max-width:413px){.dropdown__body{width:343px}.help.dropdown.center .dropdown__body{left:-125px}}@media screen and (max-width:374px){.dropdown__body{width:328px}.help.dropdown.center .dropdown__body{left:-120px}}@media screen and (max-width:359px){.dropdown__body{width:288px}.help .dropdown__body{width:280px}.help.dropdown.center .dropdown__body{left:-100px}.field__phone{padding-left:75px}.field .countries .dropdown__title{padding-right:27px;background-position:right 0 center}}
